---

---

<section>
  <div class="omake">
    <h2>おまけ</h2>
    <p>全員が泥酔している中で行われた初セッション時の貴重な音源。<br><span>Gt1.Rock 'n' Roll Yoshinaga | Gt2.hato | Dr.小倉</span></p>
    <iframe
      width="100%"
      height="166"
      scrolling="no"
      frameborder="no"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A168291762&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe><div
      style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
    >
      <a
        href="https://soundcloud.com/sotyo_notebook"
        title="hato"
        target="_blank"
        style="color: #cccccc; text-decoration: none;">hato</a
      > · <a
        href="https://soundcloud.com/sotyo_notebook/ver"
        title="２年５年 時代劇ver"
        target="_blank"
        style="color: #cccccc; text-decoration: none;">２年５年 時代劇ver</a
      >
    </div>
  </div>
</section>

<style>
  .omake{
    max-width: 800px;
    margin: auto;
    padding: 0 2rem;
    p{
      text-align: center;
    }
    span{
      font-size: 12px;
      letter-spacing: 2px;
    }
  }
</style>