---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Discography from '../components/Discography.astro';
import VideoGallery from '../components/VideoGallery.astro';
import Omake from '../components/Omake.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="早朝ノートブック！ | Official Website">
	<Header />
	<main>
		<Hero />
		<Discography />
		<VideoGallery />
		
		<section id="about" class="about">
			<div class="container">
				<h2>ABOUT</h2>
				<div class="about-text">
					<p>早朝ノートブック！とは、早朝の景色をノートに記録することを目的としたプロジェクト。<br>これまで多くのわんぱくな仲間たちが参加してきました。</p>
					<p>総本山は京都市左京区高野ですが、カナート洛北派、北大路ビブレ派、フレスコ修学院派の間で対立が生じています。</p>
					<img class="fresco"src="/image/fresco.png">
				</div>
			</div>
		</section>
		<Omake />
	</main>
	<Footer />
</Layout>

<style>
	.about {
		padding: 8rem 0;
	}
	
	.container {
		max-width: 800px; /* 文章を読みやすくするために幅を絞る */
		margin: 0 auto;
		padding: 0 2rem;
	}

	.about-text {
		font-size: 1.1rem;
		line-height: 2;
	}
	.fresco {
  		clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
	}
</style>
