---
---
<footer>
  <div class="container">
    <p class="copyright">&copy; 2026 Socho Notebook! All Rights Reserved.</p>
  </div>
</footer>

<style>
  footer {
    padding: 4rem 0;
  }

  .container {
    text-align: center;
  }

  .copyright {
    font-size: 0.75rem;
  }
</style>