---
---
<header id="main-header">
  <div class="container">
    <nav>
      <ul>
        <li><a href="#discography">WORKS</a></li>
        <li><a href="#video">VIDEOS</a></li>
        <li><a href="#about">ABOUT</a></li>
        <a target="_blank" href="https://youtube.com/playlist?list=PLm8Oh22BrJEbehnxyiUuvn5AqRSmrlp_S&si=E8Ji2g1VSgB9cx1p"><img class="youtube" src="/image/youtube.png" alt="YouTube"></a>
      </ul>
    </nav>
  </div>
</header>
<style>
  .container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    position: fixed;
    top: 10px;
    right: 0;
    padding: 10px 16px;
    border-radius: 12px 0 0 12px;
    backdrop-filter: blur(10px);
    z-index: 1000;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  .youtube {
    max-width: 30px!important;
  }
  
</style>

<script>
  // スクロール検知用のJS
  const header = document.getElementById('main-header');
  window.addEventListener('scroll', () => {
    if (window.scrollY > 50) {
      header?.classList.add('scrolled');
    } else {
      header?.classList.remove('scrolled');
    }
  });
</script>
